<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-text-center && ion-text-uppercase"> 
      <ion-title text-capitalize size="large"> Estado Neurológico, 2 puntos: </ion-title> 
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="center-grid">
  <div class="ion-text-center">
    <p></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-list lines="none" mode=ios>
      <ion-item>
        <ion-label class="ion-text-wrap && ion-text-center" style="color:black;">
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap && ion-text-center" style="color: black;">¿El paciente...</ion-label>
      </ion-item>

        <ion-item (click)="ir_salida1()" >
          <ion-label class="ion-text-wrap && ion-text-center" style="color: black;"> ... está irritable?</ion-label>  
          <ion-checkbox disabled="false" checked = "false"></ion-checkbox>
        </ion-item>

        <ion-item (click)="ir_salida2()" >
          <ion-label class="ion-text-wrap && ion-text-center" style="color: black;">... es difícil de consolar?</ion-label>
          <ion-checkbox disabled="false"></ion-checkbox>
        </ion-item>
        <ion-item (click)="ir_salida3()" >
          <ion-label class="ion-text-wrap && ion-text-center" style="color: black;">... responde solo a estímulos dolorosos?</ion-label>
          
          <ion-checkbox disabled="false"></ion-checkbox>
        </ion-item>
    </ion-list>
  </div>
      <div class="ion-text-center"> 
        <ion-button  strong="true" size="medium" color="primary" (click)="regreso()">
          Anterior
        </ion-button>

        <ion-button  strong="true" size="medium" color="primary" (click)="adelante()">
            Siguiente
        </ion-button>
      </div>
</ion-grid>

</ion-content>
