<app-header titulo="ESTADO RESPIRATORIO"></app-header>
  
<ion-content  >
  <ion-grid class="center-grid" >
    <form #formulario="ngForm"  novalidate>
      <!--Aviso de campos-->
      <ion-item *ngIf="formulario.invalid">
        <ion-label class="ion-text-wrap && ion-text-center" color="danger">
          Llene los campos o ingrese valores validos en los parámetros.
      </ion-label>
      </ion-item>
      <br>
      <ion-item (ionChange)="Frec()">
        <ion-label position="stacked" class="ion-text-wrap">Frecuencia Respiratoria:</ion-label>
           <ion-input   [(ngModel)]="respiratorio.frespiratoria" name="frespiratoria" type="number"  
                    onchange="if(this.value>200){this.value='200';}else if(this.value<12){this.value='12';}"
                    placeholder="Ingrese respiraciones por minuto" required clearInput=true></ion-input>
      </ion-item>
    
      <ion-item (ionChange)="onClick()">
        <ion-label  class="ion-text-wrap">¿Se aplican nebulizaciones?</ion-label>
        <ion-select [(ngModel)]="respiratorio.nebulizaciones"  name="nebulizaciones" required placeholder="Seleccione">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item> 
  
      <ion-item (ionChange)="Tiempo()">
        <ion-label position="stacked" class="ion-text-wrap">Tiempo entre nebulizaciones:</ion-label>
        <ion-input [(ngModel)]="respiratorio.tnebulizaciones" name="tnebulizaciones" type="number" max="100" min="0"
                    onchange="if(this.value>100){this.value='100';}else if(this.value<0){this.value='0';}"
                    placeholder="Ingrese número de horas" required clearInput=true></ion-input>
      </ion-item>
  
      <ion-item (ionChange)="Oxigeno()">
        <ion-label position="stacked" class="ion-text-wrap">Porcentaje de saturación de oxígeno:</ion-label>
        <ion-input [(ngModel)]="respiratorio.saturacion" name="saturacion" type="number" min="0" max="100" 
                    onchange="if(this.value>100){this.value='100';}else if(this.value<0){this.value='0';}"
                    placeholder="Ingrese porcentaje" required clearInput=true></ion-input>
      </ion-item>
      
      <ion-item (ionChange)="Oxigeno()">
        <ion-label >¿Utiliza oxígeno?</ion-label>
        <ion-select [(ngModel)]="respiratorio.oxigeno" name="oxigeno" required slot="end" placeholder="Seleccione">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item> 
   
  <ion-toolbar>
    <ion-button slot="start" (click)="Anterior()">Anterior</ion-button>
    <ion-button slot="end" type="submit" [disabled]="formulario.invalid" (click)="Siguiente()">Siguiente</ion-button>
  </ion-toolbar>
 
  <ion-item>
    <ion-label class="ion-text-wrap && ion-text-center">
      Se calculará un porcentaje a priori a partir de estos valores.
      Si el estado no es severo, se procederá a evaluar los demás parámetros.
  </ion-label>
  </ion-item>

    </form>

</ion-grid>
</ion-content>