<ion-header>
  <ion-toolbar>
    <div class="ion-text-center && ion-text-uppercase"> 
      <ion-title text-capitalize size="large"> Estado Neurológico, 1 puntos: </ion-title> 
  </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <p ></p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-list lines=none mode=ios>
      <ion-item >
        <ion-label class="ion-text-wrap && ion-text-center" style="color:black;" >
          
        </ion-label>
      </ion-item>

      <ion-item >
        <ion-label class="ion-text-wrap && ion-text-center" style="color:black;">¿El paciente...</ion-label>
      </ion-item>

      <ion-item  (click)="ir_salida1()">
        <ion-label style="color:black;" class="ion-text-wrap && ion-text-center"> ... está somnoliento cuando nadie lo molesta?</ion-label>
        <ion-checkbox disabled="false"></ion-checkbox>
      </ion-item>

    <ion-item (click)="ir_salida2()">
      <ion-label class="ion-text-wrap && ion-text-center" style="color:black;">... responde solo a estímulos verbales?</ion-label>
      <ion-checkbox disabled="false"></ion-checkbox>   
    </ion-item>

  </ion-list>

  <div class="ion-text-center">
    <ion-button strong="true" size="medium" color="primary" (click)="regreso1()">
      Anterior
    </ion-button>

    <ion-button strong="true" size="medium" color="primary" (click)="adelante3()">
      Siguiente
    </ion-button>
  </div>


</ion-content>
