<ion-toolbar class="evat"> 

  <div class="ion-text-center && ion-text-uppercase"> 
      <ion-title text-capitalize size="large"> Resultados </ion-title> 
  </div>


</ion-toolbar> 

<ion-content class="evat" >
<ion-grid class="center-grid">
<ion-list>
    
  <div class="ion-text-center">
    <ion-list-header>
      <ion-label >
        Resumen
      </ion-label> 
    </ion-list-header>
  </div>

  <ion-item class="top-20" *ngFor="let check of data" > 
    <ion-label slot="start" class="fixme" position="fixed"> {{ check.label }} </ion-label>
    <ion-label slot="end" class="fixme2" position="fixed"> {{ check.value }}</ion-label>
  </ion-item>

  </ion-list>

<ion-toolbar  >
  <ion-button slot="start" class="top-20" color="primary" routerLink="/extra" > Anterior </ion-button>
  <ion-button slot="end" class="top-20" color="primary" (click)="Siguiente()" > Siguiente </ion-button>
</ion-toolbar>

</ion-grid>

</ion-content>
