<app-header titulo="ESTADO RESPIRATORIO"
             subtitulo="Moderada, 2 puntos."></app-header>

<ion-content fullscreen class="ion-padding">
<ion-grid class="center-grid">

<ion-list >

  <ion-item >
    <ion-label class="ion-text-wrap">Trabajo respiratorio moderado.</ion-label>
    <ion-button (click)="mostrarPop2( $event )" color="medium" Mensaje="Mueve la cabeza, disociación toraco-abdominal,jadea">
      <ion-icon name="alert-circle-outline"></ion-icon>
    </ion-button>
    <ion-checkbox color="success" slot="end"></ion-checkbox>
  </ion-item>

  <ion-item >
    <ion-label class="ion-text-wrap">Oxígeno de 1 a 3 L en cánula binasal.</ion-label>
    <ion-checkbox color="success" slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>

<ion-toolbar>
  <ion-button slot="start" routerLink="/estadorespiratorio3">Anterior</ion-button>
  <ion-button slot="end" routerLink="/estadorespiratorio1">Siguiente</ion-button>
</ion-toolbar>

</ion-grid>
</ion-content>
