<app-header titulo="ESTADO CARDIOVASCULAR"
             subtitulo="Normal, 0 puntos."></app-header>

<ion-content fullscreen class="ion-padding">
<ion-grid class="center-grid">

<ion-list >
  <div class="ion-text-center" > 
  <ion-list-header>
    <ion-label >
      ¿El paciente ...
    </ion-label>
  </ion-list-header>
  </div>

  <ion-item >
    <ion-label class="ion-text-wrap">... tiene coloración adecuada de la piel?</ion-label>
    <ion-checkbox color="success" slot="end"></ion-checkbox>
  </ion-item>

  <ion-item >
    <ion-label class="ion-text-wrap">... tiene pulsos periféricos normales?</ion-label>
    <ion-checkbox color="success" slot="end"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-toolbar>
  <ion-button slot="start" routerLink="/cardiovascular1">Anterior</ion-button>
  <ion-button slot="end" routerLink="/respiratorio4">Siguiente</ion-button>
</ion-toolbar>

</ion-grid>
</ion-content>