<app-header titulo="ESTADO RESPIRATORIO"
             subtitulo="Leve, 1 puntos."></app-header>

<ion-content fullscreen class="ion-padding">
<ion-grid class="center-grid">

<ion-list >

  <ion-item >
    <ion-label class="ion-text-wrap">Trabajo respiratorio leve.</ion-label>
    <ion-button (click)="mostrarPop1( $event )" color="medium" Mensaje="Mueve la cabeza, disociación toraco-abdominal,jadea">
      <ion-icon name="alert-circle-outline"></ion-icon>
    </ion-button>
    <ion-checkbox color="success" slot="end"></ion-checkbox>
  </ion-item>

  <ion-item >
    <ion-label class="ion-text-wrap">Oxígeno hasta 1 L en cánula binasal.</ion-label>
    <ion-checkbox color="success" slot="end"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-toolbar>
  <ion-button slot="start" routerLink="/estadorespiratorio2">Anterior</ion-button>
  <ion-button slot="end" routerLink="/estado-resp0">Siguiente</ion-button>
</ion-toolbar>

</ion-grid>
</ion-content>