<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-header collapse="condense">
  </ion-header>
  <div class ="ion-text-center"><h1> </h1></div>

  
<br> 
<div class="ion-text-center">
  <ion-grid>
    <ion-row center>
      <ion-col>                     
        <div>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <img src="../assets/img/evat-logo.jpeg/">
        </div>
      </ion-col>

      <ion-col>
        <div>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row ccenter>
      <ion-col>
        <div>          
        </div>
      </ion-col>

      <ion-col size="7">
        <div> 
          <ion-item>
          <ion-input class ="ion-text-center" value="" placeholder="Ingrese usuario" [(ngModel)]="Usuario"></ion-input>
        </ion-item>
        </div>
      </ion-col>

      <ion-col>
        <div>          
        </div>
      </ion-col>      
    </ion-row>

    <ion-row center>
      <ion-col>
        <div>          
        </div>
      </ion-col>
      
      <ion-col size="7">
        <div>
          <ion-item>
          <ion-input class ="ion-text-center" value="" type="password"
                      placeholder="Ingrese contraseña"></ion-input>
        </ion-item>          
        </div>
      </ion-col>
      
      <ion-col>
        <div>          
        </div>
      </ion-col>
    </ion-row>

    <ion-row center>
      <ion-col>
        <div>          
        </div>
      </ion-col>
      
      <ion-col>
        <div> 
          <ion-button routerLink='/datos-pacientes' (click)="refresh()">
            Ingresar
          </ion-button>         
        </div>
      </ion-col>
      
      <ion-col>
        <div>          
        </div>
      </ion-col>
    </ion-row>

    <ion-row center>
      <ion-col>
        <div>
          Ingrese al sistema con su nombre de usuario y contraseña. Si no los tiene, debe registrarse antes.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>
