<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class ="ion-text-center">ESTADO NEUROLÓGICO
        <br> <font size="3">3 Puntos</font> 
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br> <br>
<div class="ion-text-center">¿El paciente ...</div>
<ion-list>
  <ion-item>
    <ion-label>... está letárgico?</ion-label>
    <ion-checkbox   slot="end" (click)="item1(1, 'letargico')" ></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>... está confundido?</ion-label>
    <ion-checkbox   slot="end" (click)="item1(2, 'confundido')"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>... está sin fuerzas?</ion-label>
    <ion-checkbox   slot="end" (click)="item1(3, 'sin fuerzas')"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>... está no responde a estimulos?</ion-label>
    <ion-checkbox   slot="end" (click)="item1(4, 'no responde a estimulos')"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>... presenta convulsiones?</ion-label>
    <ion-checkbox   slot="end" (click)="item1(5, 'presenta convulsiones')"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>... presenta anisocoria?</ion-label>
    <ion-checkbox  slot="end" (click)="item1(6, 'presenta anisocoria')"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>... presenta pupilas no reactivas a la luz?</ion-label>
    <ion-checkbox slot="end" (click)="item1(7, 'presenta pupilas no reactivas a la luz')"></ion-checkbox>
  </ion-item>
</ion-list>
<br> <br>
<div class="ion-text-center">  
  <ion-button routerLink='/datos-pacientes'>Anterior</ion-button> 
  <ion-button routerLink='/neurologico1'>Sigiente</ion-button> 
</div>

</ion-content>
