<ion-toolbar class="evat"> 

  <div class="ion-text-center && ion-text-uppercase"> 
      <ion-title text-capitalize size="large"> Estado Cardiovascular </ion-title> 
  </div>
  
  <div class="ion-text-center">
    <ion-title text-capitalize size="small"> Moderada, 2 puntos.  </ion-title> 
  </div>

</ion-toolbar> 

<ion-content class="evat" >
<ion-grid class="center-grid">
<ion-list>
    
  <div class="ion-text-center">
    <ion-list-header>
      <ion-label >
        ¿El paciente...
      </ion-label> 
    </ion-list-header>
  </div>
        
  <ion-item class="top-20" *ngFor="let check of data" > 
    <ion-label class="ion-text-wrap"> {{ check.label }} </ion-label>
      <ion-checkbox slot="end" 
                    color="success" 
                    [(ngModel)]="check.selected">  
      </ion-checkbox>
  </ion-item>  

  </ion-list>

<ion-toolbar  >
  <ion-button class="top-20" slot="start" color="primary" routerLink="/cardiovascular3" > Anterior </ion-button>
  <ion-button class="top-20" slot="end" color="primary" routerLink="/cardiovascular1" > Siguiente </ion-button>
</ion-toolbar>

</ion-grid>

</ion-content>