<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <div class ="ion-text-center">Datos del paciente</div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  

  
<br> <br>
<div class="ion-text-center">
  <ion-grid>
    <ion-row center>
      <ion-col>                     
        <div>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <img src="../assets/img/evat-logo.jpeg/">
        </div>
      </ion-col>

      <ion-col>
        <div>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row ccenter>
      <ion-col>
        <div>          
        </div>
      </ion-col>

      <ion-col size="7">
        <div> 
          <ion-item>
          <ion-input class ="ion-text-center" value="" placeholder="Nombre del paciente"></ion-input>
        </ion-item>
        </div>
      </ion-col>

      <ion-col>
        <div>          
        </div>
      </ion-col>      
    </ion-row>

    <ion-row center>
      <ion-col>
        <div>          
        </div>
      </ion-col>
      
      <ion-col size="7">
        <div>
          <ion-item>
          <ion-input class ="ion-text-center" value=""
                      placeholder="Registro del paciente"></ion-input>
        </ion-item>          
        </div>
      </ion-col>
      
      <ion-col>
        <div>          
        </div>
      </ion-col>
    </ion-row>

    <ion-row center>
      <ion-col>
        <div>          
        </div>
      </ion-col>
      
      <ion-col>
        <div> 
          <ion-button routerLink='/estado-neurologico'>
            Ingresar
          </ion-button>         
        </div>
      </ion-col>
      
      <ion-col>
        <div>          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>
