<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

    <ion-list lines=none mode=ios>
      <ion-item (click)="preo_enfermera1()">
        <ion-label class="ion-text-wrap && ion-text-center"> ... Preocupación de la enfermera</ion-label>
        <ion-checkbox disabled="false"></ion-checkbox>
      </ion-item>

      <ion-item (click)="preo_enfermera1()">
        <ion-label class="ion-text-wrap && ion-text-center"> ... Preocupación de la familia</ion-label>
        <ion-checkbox disabled="false"></ion-checkbox>        
      </ion-item>
    </ion-list>

<div class="ion-text-center">
  
  <ion-button strong="true" size="medium" color="primary" (click)="anterior()">
    Anterior
  </ion-button>
  <ion-button strong="true" size="medium" color="primary" (click)="adelante()">
    Siguiente
  </ion-button>

</div>
</ion-content>
