<app-header titulo="ESTADO RESPIRATORIO"
             subtitulo="Severa, 3 puntos."></app-header>

<ion-content fullscreen class="ion-padding">
<ion-grid class="center-grid">

<ion-list >

  <ion-item > 
    <ion-label class="ion-text-wrap">Trabajo respiratorio severo. </ion-label>
    <ion-button (click)="mostrarPop( $event )" color="medium" Mensaje="Mueve la cabeza, disociación toraco-abdominal,jadea">
      <ion-icon name="alert-circle-outline"></ion-icon>
    </ion-button>
    <ion-checkbox  color="success" slot="end"></ion-checkbox>
  </ion-item>

  <ion-item >

    <ion-label class="ion-text-wrap">Oxígeno en mascarilla con reservorio o mayor de 3 L/min.</ion-label>
    <ion-checkbox color="success" slot="end"></ion-checkbox>
  </ion-item>

  <ion-item >
    <ion-label class="ion-text-wrap">Apnea</ion-label>
    <ion-checkbox color="success" slot="end"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-toolbar>
  <ion-button slot="start" routerLink="/respiratorio4">Anterior</ion-button>
  <ion-button slot="end" routerLink="/estadorespiratorio2">Siguiente</ion-button>
</ion-toolbar>

</ion-grid>
</ion-content>