<app-header titulo="estado cardiovascular"
             subtitulo="leve, 1 punto."></app-header>
             
<ion-content fullscreen class="ion-padding">
  <ion-grid class="center-grid"> 

    <!-- size siz3-lg="" size-md="" size-sm="" size-xs=""   -->
      <div class="ion-text-center" >
      <ion-list-header>
        <ion-label >
          ¿El paciente...
        </ion-label>
      </ion-list-header>
    </div>

      <ion-item > <!--color="light"-->
        <ion-label >... está pálido ?</ion-label>
        <ion-checkbox color="success" slot="end"></ion-checkbox>
      </ion-item>


      <ion-item > <!--color="light"-->
        <ion-label >... está vasodilatado ?</ion-label>
        <ion-checkbox color="success" slot="end"></ion-checkbox>
      </ion-item>
 
    <ion-toolbar>
      <ion-button slot="start" routerLink="/cardiovascular2">Anterior</ion-button>

      <ion-button slot="end" routerLink="/cardiovascular0">Siguiente</ion-button>

    </ion-toolbar>


  </ion-grid>
</ion-content>
            