<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class ="ion-text-center">ESTADO RESPIRATORIO
        <br> <font size="3">0 Puntos</font> 
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br> <br>
<ion-list >
  <ion-item>
    <ion-label>Sin retracciones</ion-label>
    <ion-checkbox slot="end" (click)="item(1, 'sin retracciones')"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Patrón respiratorio normal o en su basal</ion-label>
    <ion-checkbox slot="end" (click)="item(2, 'Patrón respiratorio normal o en su basal')"></ion-checkbox>
  </ion-item>
</ion-list>
<br> <br>
<div class="ion-text-center">  
  <ion-button routerLink='/estado-neurologico'>Anterior</ion-button> 
  <ion-button (click)="alerta()">Sigiente </ion-button> 
</div>

</ion-content>
